@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Bold";
font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top95 { margin-top:95px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top350 { margin-top:350px; }
.top360 { margin-top:360px; }
.top395 { margin-top:395px; }
.top400 { margin-top:400px; }
.top560 { margin-top:560px; }
.top590 { margin-top:590px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom210 { margin-bottom:210px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left9 { margin-left:9px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr0 { padding-right:0px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }



.pg10{  padding: 10px;}
.pg20{  padding: 20px;}


.container{
width: 1170px !important;
}

.padding0{
padding: 0px !important;
}


.input100{
width: 100% !important;
}


.lato-black{
font-family:"Lato Black";
}

.fontMyriad{
font-family: 'MyriadPro-Regular';
}

.relative{
position: relative;
}


body{
font-weight: 400;
font-family: 'Lato', sans-serif;

}



h1{
font-size: 20px;
font-weight: 400;
color: #000;
}

h1 span{

}


h2{
	font-size: 17px;
	font-weight: 400;
	color: #000;
}

h2 span{

}

h3 {
	line-height: 30px;
	font-family:"Lato Bold";
	font-size: 50px;
	color: #fefefe;
	text-shadow: -1px 2px 0px rgba(0, 0, 0, 1);
}

h3 span{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
  font-weight: 400;
  color: #fefefe;
}


h4{
font-weight: 400;
color      : #000;
font-size  : 25px;
line-height: 25px;
}


h4 span{
	line-height: 35px;
font-size  : 35px;
font-family :"Lato Black";
}



h5{
font-family:"Lato Bold";
font-weight: 700;
color      : #000;
font-size  : 27px;
}

h5 span{
font-weight: 300;
font-size  : 19px;
}

h6 {
/*font-weight  : 300;
color          : #000;
font-size      : 30px;
text-decoration: underline: ;*/
}


h6 span{

}


p{
font-weight: 300;
font-size  : 20px;
color      : #000;
text-align : justify;
}




a:hover{
text-decoration: none !important;
}

.media-left,
.media-right,
 .media-body {
	vertical-align: middle !important;
}

.relativo{
position: relative;
}

input,
select,
textarea{
border       : 1px solid #000 ;
min-height   : 50px;
color        :#000;
border-radius: 0px;
}


::-webkit-input-placeholder {
color      : #000;
font-weight: 300;
font-size  : 22px;
}

:-moz-placeholder {
color      : #000;
font-weight: 300;
font-size  : 22px;
}

::-moz-placeholder {
color      : #000;
font-weight: 300;
font-size  : 22px;
}

:-ms-input-placeholder {
color      : #000;
font-weight: 300;
font-size  : 22px;
}


/**
============================================
				rodape
============================================
*/

.rodape{
background : #cecece;
}

.rodape-preto{
background :#000;
}

.rodape-preto h5{
font-size  :20px;
color      : #fff;
font-weight: 300;
}


.menu-rodape li a {
color        : #000;
font-size    : 20px;
font-weight  : 300;
margin-right : 35px;
}

.menu-rodape li a:hover, .menu-rodape li a.active{
font-weight : 400;
}


.menu-rodape {
list-style : none;
padding    : 0px;
}

.barra_branca {
border-bottom  : 1px solid #fff;
padding-bottom : 44px;
}

.menu-rodape li {
float : left;
}


/**
============================================
				rodape
============================================
*/



/**
============================================
				topo
============================================
*/

.topo{
    background: #cccccc;
    background: -moz-linear-gradient(left,  #cccccc 0%, #eeeeee 62%, #eeeeee 88%, #eeeeee 100%);
    background: -webkit-linear-gradient(left,  #cccccc 0%,#eeeeee 62%,#eeeeee 88%,#eeeeee 100%);
    background: linear-gradient(to right,  #cccccc 0%,#eeeeee 62%,#eeeeee 88%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=1 );

}


.btn_carrinho,
.btn_carrinho :hover,
.btn_carrinho:active,
.btn_carrinho:focus {
    padding: 0px;
    border-radius: 0px;
    border: none !important;
    background: url(../imgs/carrinho_topo.jpg) center no-repeat;
    height: 60px;
}


.carrinho_topo .badge {
    padding: 7px 9px;
    font-size: 17px;
    font-weight: 700;
    color: #000;
    background: #fff;
    border-radius: 5px;
    top: 2px !important;
    left: 82px;
    height: 30px;
}


.topo-meu-orcamento {
    background: #fff;
    width: 470px;
    padding: 0px 10px;
}


.btn-vermelho {
    border-radius: 0px;
    font-size: 17px;
    padding: 10px 20px;
    background: #ed1f1f;
    color: #fff;
}

.bg_preto{
    background: #000;
    -moz-box-shadow: 0px 0px 8px #000000;
-webkit-box-shadow: 0px 0px 8px #000000;
box-shadow: 0px 0px 8px #000000;
}

.menu_topo li{
float      :left;
}

.menu_topo {
	list-style     : none;
}

.menu_topo li a {
    font-family:"Lato Bold";
	padding-bottom : 11px;
	color          : #fff;
	font-size      : 20px;
	font-weight    : 700;
    padding: 22px 15px;
}

.menu_topo li.active a {
	font-weight   : 700;
    padding: 22px 15px;
    background: url(../imgs/hover_topo.png);
}

.menu_topo li a:hover {
	font-weight   : 700;
    padding: 22px 15px;
    background: url(../imgs/hover_topo.png);

}
/**
============================================
				topo
============================================
*/

/*==================================================
* Effect 2
* ===============================================*/
.effect2
{
position: relative;
}
.effect2:before, .effect2:after
{
z-index   : -1;
position  : absolute;
content   : "";
bottom    : 15px;
left      : 10px;
width     : 50%;
top       : 80%;
max-width :300px;
background: #777;
box-shadow: 0 15px 10px #777;
transform : rotate(-3deg);
}
.effect2:after
{
transform: rotate(3deg);
right: 10px;
left : auto;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
width   :100%;
height  :498px;
margin  :0px auto;
overflow:hidden;
position: relative;
}

#content_slider {
width      :1920px;
height     :498px;
overflow   :hidden;
position   :absolute;
margin-left:-960px;
top        :0px;
left       :50%;
}


#content-slider-1 .rsTabs {
    width: 109px;
    height: 50px;
    z-index: 9999;
    position: absolute;
    right: 892px;
    top: 467px;
}

#content-slider-1 .rsNavItem {
background   : #7f7f7f;
width        : 17px;
opacity      : 0.5;
height       : 17px;
float        : left;
margin-right : 10px;
cursor       : pointer;
border-radius: 50%;
}

#content-slider-1 .rsNavSelected {
 opacity  : 1;
background: #000;
}


/*arrow personalizados*/
#container_banner .rsArrowLeft{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 99999;
	bottom: 13px;
	position: absolute;
  left: 883px;
}

#container_banner .rsArrowRight{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 99999;
	bottom: 13px;
	position: absolute;
	right: 872px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/**
============================================
				HOME
============================================
*/
.bg_branco {
    border-radius: 5px 5px 0px 0px;
    left: 50%;
    margin-left: -80px;
    position: absolute;
    bottom: 0px;
    width: 171px;
    height: 50px;
    background: #fff;
}

.bg-cinza {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 69px;
    height: 94px;
    margin-left: -106px;
    background: url(../imgs/barra_produtos_home.png) no-repeat;
}

.lista-categorias {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.lista-categorias li:hover,
.lista-categorias li.destaque {
    background: #ec3d35;
    color: #fff;
}

.lista-categorias li:hover a,
.lista-categorias li.destaque a {
    color: #fff;
}

.lista-categorias li {
    float: left;
    height: 83px;
    padding: 15px 10px 0px 10px;
    text-align: center;
    border-right: 1px solid #b4b3b3;
}

.lista-categorias li a,
.lista-categorias-submenu li a {
    display: block;
    height: 60px;
    font-size: 15px;
    color: #676767;
}

.lista-categorias-submenu li:hover a,
.lista-categorias-submenu li.destaque a {
    color: #676767 !important;
}

.lista-categorias-submenu li a:hover,
.lista-categorias-submenu li a:focus {
    color: #fff;
    background: none;
}

.btn_saiba_mais{
	padding: 8px 16px;
	color: #000;
	border: 1px solid #000;
	background: none;

}

.btn_saiba_mais:hover{
	background: #d8dade;

}

.btn_orcamentos_home{
	padding: 5px 16px;
	color: #fff;
	border: 0px;
	background: #d10000;
}

.btn_orcamentos_home:hover{
	color: #d8dade;
}

.produtos_home h1{
	overflow: hidden;
	height: 48px;
}
.fa-angle-double-down:before {
  color: #000;
}


.bg_servicos_home{
	height: 740px;
	background: url(../imgs/bg_servicos_home.png) top center no-repeat;
}

.servicos_home p{
	overflow: hidden;
	max-height: 35px;
}

.servicos_home .fa{
	font-size: 25px;
	color: #d10000;
}

.servicos_home01 h1{
	font-family:"Lato Black";
}

.servicos_home01 p{
	overflow: hidden;
	height: 113px;
}

.servicos_realizados .flexslider .slides img {
    width: inherit;
    display: block;
		height: 200px;
}

.servicos_realizados .flex-control-paging li a {
    width: 0px;
    height: 0px;
}

.servicos_realizados .flexslider {
    margin: 0 0 0px;
    background: #ffffff;
    border: 0px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.dicas_home h1{
	overflow: hidden;
	height: 48px;
	font-size: 22px;
	font-weight: 300;
}


/**
============================================
				HOME
============================================
*/


.bg-metade{
    height: 92px;
    background: url("faixa-esquerda-lateral.png");
    background-size: 50% 100%;
}

/**
============================================
				DICAS
============================================
*/

.bg_branco_dicas {
    background: #fff;
		-webkit-box-shadow: 0px -2px 8px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px -2px 8px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px -2px 8px 0px rgba(50, 50, 50, 0.75);
}

.dicas_geral h1 {
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 40px;
    background: url(../imgs/barra_dicas.jpg) left bottom no-repeat;
}

.dicas_geral_dentro h1 {
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 40px;
    background: url(../imgs/barra_dicas_dentro.jpg) left bottom no-repeat;
}

.produtos_geral h1 {
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 40px;
    background: url(../imgs/barra_produtos.jpg) left bottom no-repeat;
}

.pesquisa .form-control{
	width: 590px;
	font-size: 22px;
	font-weight: 300;
	border-radius: 0px;
	border: 1px solid #000;
}

.btn-danger{
	border-radius: 0px;
	padding: 13px 12px;
	font-family:"Lato Bold";
	font-size: 20px;
	background: #d10000;
	color: #fff;
}

.btn-danger:hover{
	background: #d10000;
	color: #000;
}


.btn_formulario{
	padding: 14px 46px;
	font-family:"Lato Bold";
	font-size: 20px;
	background: #d10000;
	color: #fff;
}

.btn_formulario:hover{
	background: #d10000;
	color: #000;
}

.dicas_dentro h1{
	font-size: 30px;
	font-weight: 300;
}

.dicas_geral_dentro p{
	overflow: hidden;
	max-height: 92px;
}
/**
============================================
				DICAS
============================================
*/

/**
============================================
				PRODUTOS
============================================
*/
.produto_titulo h1{
	font-size: 57px;
	font-weight: 100;
}

.produto_titulo h2{
	font-size: 30px;
	font-weight: 300;
}

.produtos_dentro h4{
	line-height: 25px;
	font-size: 22px;
	font-weight: 400;
	color: #000;
}

.produtos_dentro h4 span{
	line-height: 25px;
	font-family:"Lato Black";
	font-size: 27px;
	color: #000;
}

.produtos_dentro_contatos h2{
	font-size: 15px;
	color: #000;
	font-weight: 400;
}


.produtos_dentro_contatos h4{
	font-size: 30px;
	color: #000;
	font-family:"Lato Bold";
}

.produtos_dentro_contatos h4 span{
	font-size: 20px;
	color: #000;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.btn{
	border-radius: 0px;
}

.btn_orcamentos{
	padding: 13px 12px;
	background: #d10000;
 font-size: 20px;
 color: #fff;
 font-family:"Lato Bold";
}

.btn_orcamentos .fa-shopping-cart:before {
    font-size: 28px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  produtos-------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner1 {
width   :100%;
height  :390px;
margin  :0px auto;
overflow:hidden;
position: relative;
}

#content_slider1 {
    width: 558px;
    height: 498px;
    overflow: hidden;
    position: absolute;
    margin-left: -283px;
    top: 0px;
    left: 50%;
}


#content-slider-11 .rsTabs {
    width: 109px;
    height: 50px;
    z-index: 9999;
    position: absolute;
    right: 208px;
    top: 360px;
}

#content-slider-11 .rsNavItem {
	background   : #7f7f7f;
	width        : 17px;
	opacity      : 0.5;
	height       : 17px;
	float        : left;
	margin-right : 10px;
	cursor       : pointer;
	border-radius: 50%;
}

#content-slider-11 .rsNavSelected {
 	opacity  : 1;
	background: #000;
}


/*arrow personalizados*/
#container_banner1 .rsArrowLeft{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 99999;
	bottom: -30px;
	position: absolute;
  left: 211px;
}

#container_banner1 .rsArrowRight{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 99999;
	bottom: -30px;
	position: absolute;
	right: 188px;
}

#container_banner1 .rsOverflow {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
    float: left;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.titulo_medio h4{
	font-size: 22px;

}

.titulo_medio h4 span{
	font-size: 27px;

}

.trabalho_realizados .flexslider .slides img {
    width: 100%;
	padding: 18px;
    display: block;
	height: 216px;
}

.trabalho_realizados .flex-control-paging li a {
    width: 20px;
    height: 20px;
	border-color: inherit;
	border: 0px !important;
}

.trabalho_realizados .flexslider {
    margin: 0 0 0px;
    background: #ffffff;
    border: 0px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.trabalho_realizados .slides  li{
	margin-right: 28px;
    border: 1px solid #000;
    margin-left: 10px;

	border:1px solid #000;
}

.trabalho_realizados h1{
	margin: 30px 30px;
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
	background: url(../imgs/barra_produtos_dentro.png) top center no-repeat;
}


.trabalho_realizados .flex-prev{
	position: absolute;
    bottom: -47px;
    z-index: 100;
    left: 500px;
    font-size: 24px;
	color: #000;
}


.trabalho_realizados .flex-next{
	position: absolute;
    bottom: -47px;
    z-index: 100;
    right: 497px;
    font-size: 24px;
    color: #000;
}


/**
============================================
				PRODUTOS
============================================
*/

/**
============================================
          SERVIÇOS
============================================
*/

.servicos_tipos{
	border:1px solid #000;
}

.servicos_tipos h1{
	overflow: hidden;
	height: 70px;
	font-family:"Lato Bold";
	font-size: 30px;
	background: url(../imgs/barra_produtos_dentro.png) center bottom no-repeat;
	padding-bottom: 23px;

}

.servicos_tipos p{
	overflow: hidden;
	height: 153px;
	font-size: 22px;
}


.servicos_geral h1 {
    padding-bottom: 9px;
    font-family:"Lato Bold";
    font-size: 30px;
    background: url(../imgs/barra_dicas.jpg) left bottom no-repeat;
}
/**
============================================
          SERVIÇOS
============================================
*/



/**
============================================
          CONTATOS
============================================
*/

.fale_conosco h1{
	font-size: 30px;
	font-weight: 300;

}

.fale_conosco h1 span{
	font-size: 57px;
	font-weight: 100;

}

.fale_email{
padding-top:0px !important;
padding-bottom: 0px !important;
}

.fale_email h2{
	font-size: 15px;
	color: #000;
	font-weight: 400;
}


.fale_email h4{
	font-size: 23px;
	color: #000;
	font-weight: 400;
}

.fale_endereco h2{
	font-size: 15px;
	color: #000;
	font-weight: 400;
}


.fale_endereco h4{
	font-size: 17px;
	color: #000;
	font-weight: 400;
}

.FormContatos input,
.FormContatos textarea,
.FormCurriculo input,
.FormCurriculo textarea{
	border-radius: 0px;
	border: 1px solid #000;
}

/**
============================================
          CONTATOS
============================================
*/



/**
============================================
          ORCAMENTO
============================================
*/

.input-lista-prod-orcamentos {
	width                : 32px;
	min-height           : 36px !important;
	text-align           : center;
  background           : #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius   : 5px;
	border-radius        : 5px;
  font-size            : 13px;

}

.tabela_carrinho table{
  font-size  : 15px;
  color      : #000;
  font-weight: 400;
}

.tabela_carrinho .table>tbody{
	margin-top: 20px;
  border: 1px solid #000;
}

.table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.tabela_carrinho .table h2{
  font-size: 20px;
}

.tabela_carrinho .table h2 span{
  font-size: 17px;
}




.lista-equipe li{
    border: 1px solid #000;
    padding-right: 15px;
}







.sub-menu-dentro{
    margin-top: 23px;
}


.sub-menu-dentro li{
    float: left;
    height: 80px;
    text-align: center;
    padding: 18px 14px 0px 14px;
    border-right: 1px solid #b4b3b3;
}

.sub-menu-dentro li:first-child{
    border-left: 1px solid #b4b3b3;
}

.sub-menu-dentro li:last-child{
    border-right: none;
}

.sub-menu-dentro a{
    font-size: 15px;
    font-family: "Lato Bold";
    color: #000;
}


.fa-times-circle::before {
    color: #ff0000;
}
/**
============================================
          ORCAMENTO
============================================
*/

.dados-empresa h5{
    font-size: 30px;
}

.lista-equipe{
    border: 1px solid #000;
    padding: 8px;
    height: 230px;
}

.lista-equipe h1{
    font-family:"Lato Bold";
    font-size: 25px;
    color: #000;
}

.lista-equipe h2{
    font-family:"Lato Bold";
    font-size: 15px;
    color: #000;
    text-decoration: underline;
    padding-bottom: 10px;
}

.drop_submenu li a,.drop_submenu li{
	border: 0px !important;
}

.lista-equipe p{
    font-size: 15px;
    color: #000;

}


#carousel-example-generic-equipe{
    height: 550px;
}

.sub-menu-produtos{
    margin-top: 23px;
}



.sub-menu-produtos li:first-child{
    border-left: 1px solid #b4b3b3;
}

.sub-menu-produtos li:last-child{
    border-right: none;
}

.sub-menu-produtos li a{
    font-size: 15px;
    font-family: "Lato Bold";
    color: #000;
}

.sub-menu-produtos li a{
    float: left;
	width: 150px;
    height: 80px;
    text-align: center;
    padding: 2px 14px 0px 14px;
    border-right: 1px solid #b4b3b3;
}

.sub-menu-produtos li.active a,
.sub-menu-produtos li a:hover{
  background: #d10000;
	color: #fff;
}

.bg_menu_produtos{
	position: absolute;
	width: 100%;
	height: 169px;
	background: url(../imgs/barra_home_produtos.png) bottom center no-repeat;
}

.drop_submenu{
	  left: 411px;
	  padding: 10px;
    top: 78px;
    width: 145px;
}

.drop_submenu li a{
    width: 145px;
}














#carousel-example-generic-equipe .carousel-indicators,
.slider-parceiros-clientes .carousel-indicators{
    bottom: -50px;
}

#carousel-example-generic-equipe .carousel-indicators li,
.slider-parceiros-clientes  .carousel-indicators li{
    width: 20px;
    height: 20px;
    background: #7f7f7f;
    border: none;
}

#carousel-example-generic-equipe .carousel-indicators .active,
.slider-parceiros-clientes .carousel-indicators .active{
    background: #000000;
    margin: 1px;
}




#carousel-example-generic-equipe .carousel-control.left,
#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes  .carousel-control.left,
.slider-parceiros-clientes  .carousel-control.right{
    background: none;
}


#carousel-example-generic-equipe .carousel-control.left,
.slider-parceiros-clientes .carousel-control.left{
    left: 450px;
    top: inherit;
    bottom: -47px;
    width: 25px;
    height: 25px;
    z-index: 100;
}


#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes .carousel-control.right{
    right: 450px;
    top: inherit;
    bottom: -61px;
    width: 40px;
    height: 40px;
    z-index: 100;
}


#carousel-example-generic-equipe .fa-chevron-left,
#carousel-example-generic-equipe .fa-chevron-right,
.slider-parceiros-clientes .fa-chevron-left,
.slider-parceiros-clientes .fa-chevron-right{
    font-size: 25px;
    color: #000;
}


.lista-parceiros{
    border: 1px solid #000;
}

.lista-parceiros h1{
    font-size: 25px;
    font-family: "Lato Bold";
    color: #000;
	height: 60px;
}


.lista-parceiros-linha{
    border-top: 1px solid #000;
    padding-top: 10px;
    margin: 10px auto;
    width: 90%;
}



.lista-categorias-submenu{
	background: #fff;
	margin-top: 8px !important;

}

.lista-categorias-submenu li, .lista-categorias-submenu li a{
	width: 100%;
	height: inherit;
	text-align: inherit;
	margin-bottom: 5px;
}

.lista-categorias-submenu li a:hover{
	color: #fff !important;
}


.lista-categorias-submenu-index{
	background: #CFCFCF;
}





.topo-meu-orcamento {
	background: #fff;
	width: 470px;
	padding: 0px 10px;
}

.topo-meu-orcamento.pull-right {
	right: 16px;
	left: auto;
}



.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


.lista-itens-carrinho h1{
	font-size: 20px;
}


.cartoes .fa{
	margin-right: 5px;
}
.cartoes p img.destaques {
    width: 163px;
    height: 80px;
}

.cartoes p img {
    width: 55px;
    margin-right: 5px;
    height: 36px;
    margin-top: -20px;
}
