@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
font-family:"Lato Bold";
*/

@import url('./fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top3 { margin-top:3px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top12 { margin-top:12px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top110 { margin-top:110px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top155 { margin-top:155px; }
.top160 { margin-top:160px; }
.top170 { margin-top:170px; }
.top180 { margin-top:180px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top205 { margin-top:205px; }
.top210 { margin-top:210px; }
.top230 { margin-top:230px; }
.top250 { margin-top:250px; }
.top260 { margin-top:260px; }
.top270 { margin-top:270px; }
.top330 { margin-top:330px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }
.right230 { margin-right:230px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt170 { padding-top:170px; }
.pt190 { padding-top:190px; }
.pt200 { padding-top:200px; }
.pt300 { padding-top:300px; }

.pl5 { padding-left:5px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }


.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px !important; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb190 { padding-bottom:190px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }



.pg0{padding:0px;}
.pg10{padding:10px;}
.pg20{padding:20px;}
.pg60{padding:60px;}


.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}



body {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}



.padding0{
	padding:0px !important;
}

.lato_black{
	font-family:"Lato Black";
}

.lato_bold{
	font-family:"Lato Bold";
}

h1{
font-size: 15px;
font-weight: 400;
color: #000;
}

h1 span {

}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: #283239;
		font-family:"Lato Bold";
}

h2 span {

}


h3 {
    line-height: 23px;
    font-family: "Lato Bold";
    font-size: 38px;
    color: #fefefe;
    text-shadow: -1px 2px 0px rgba(0, 0, 0, 1);
}

h3 span {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
		line-height: 22px;
    font-weight: 400;
    color: #fefefe;
}

h4 {
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 16px;
}

h4 span {
    line-height: 23px;
    font-size: 23px;
    font-family: "Lato Black";
}


h5 {

}

h5 span{


}

h6{
	/*font-weight: 300;
	color: #000;
	font-size:25px;
	text-decoration: underline;*/
}

p {
	color:#000;
	font-size:15px;
	text-align: justify;
}

p span{
	color:#fff;
}


a:hover {
	text-decoration: none;
}

.media-left,
.media-right,
.media-body {
    vertical-align: middle !important;
}

input,
textarea{
	border: 1px solid #000 ;
	min-height: 40px;
	color:#000;
	border-radius: 0px;
}


::-webkit-input-placeholder {
	color: #000 !important;
	font-weight: 400;
	font-size: 12px;
}

:-moz-placeholder {
	color: #000 !important;
	font-weight: 400;
	font-size: 12px;
}

::-moz-placeholder {
	color: #000 !important;
	font-weight: 400;
	font-size: 12px;
}

:-ms-input-placeholder {
	color: #000 !important;
	font-weight: 100;
	font-size: 12px;
}

.form_busca_topo{
	width: 306px;
}

.form_busca_topo.pull-right {
    right: -32px;
    left: auto;
}



/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto{
	position: relative;
	background: #000;
}

.bg-fundo-preto p{
	color: #fff;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}


/**
============================================
					RODAPE
============================================
*/







/**
============================================
					TOPO
============================================
*/
.btn{
	border-radius: 0px;
}

.btn_topo{
	font-family:"Lato Bold";
	font-size: 15px;
	color: #fff;
	background: #d10000;
}

.bg_menu{
	background: #1a1a1a;
}


.select-menu{
	background: url(../imgs/bg-select-menu.png) center no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.btn_pesquisas_topo,
.btn_pesquisas_topo:hover{
	font-size: 20px;
	height: 60px;
	padding: 20px 25px;
	border-radius: 0px;
	color: #fff;
	background: #000000;
}

.topo-meu-orcamento {
    color: #fff;
    width: 330px;
    margin: 2px 0px 0;
    font-size: 14px;
}

.btn_carrinho,
.btn_carrinho:hover {
    font-size: 20px;
    height: 60px;
    padding: 20px 25px;
    border-radius: 0px;
    color: #fff;
    background: #000000;
}

.btn-formulario {
    border-radius: 0px;
    font-size: 15px;
    padding: 10px 15px;
    background: #ed1f1f;
    color: #fff;
}


/**
============================================
					TOPO
============================================
*/

/**
============================================
					HOME
============================================
*/



/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after {
 	background: #777;
 	bottom: 12px;
 	box-shadow: 0 15px 10px #777;
 	content: "";
 	left: 1px;
 	max-width: 300px;
 	position: absolute;
 	top: 63%;
 	transform: rotate(-3deg);
 	width: 50%;
 	z-index: -1;
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 1px;
 	left: auto;
 }



 .container_banner_faixa{
 	width: 100%;
 	height: 50px;
 	background: url(../imgs/faixa-slider.png) top center no-repeat;
 	position: absolute;
 	bottom: -1px;
 	z-index: 10;
 }


 /* Carousel base class */
 .carroucel-home .carousel {
 	height: 374px;
 }
 /* Since positioning the image, we need to help out the caption */
 .carroucel-home .carousel-caption {
 	text-align: left;
 	z-index: 10;
 	bottom: 0px;
 }

 /* Declare heights because of positioning of img element */
 .carroucel-home .carousel .item {
 	height: 374px;
 }


 .carroucel-home .carousel-inner > .item > img {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 374px;
 }

 .carroucel-home{
 	position: relative;
	margin-top: -1px;
 }


 .carroucel-home .carousel-caption {
 	top:10px;
 	right:0px;
 	left: 0px;
 }

 .carroucel-home .carousel-indicators {
    position: absolute;
    top: 344px;
    left: 50%;
    z-index: 20;
    width: 63%;
	}

	.carroucel-home li{
		opacity: 0.5;
		width: 20px;
		height: 20px;
		margin: 0px !important;
    background: #000;
 	}

	.carroucel-home li.active{
		opacity: 1;
		width: 20px;
		margin: 0px !important;
		height: 20px;
    background: #000;
 	}

.carroucel-home .carousel-control {
	    opacity: 1;
	    color: #000;
	    top: 309px;
	    width: 0%;
	    z-index: 999;
	}

 .carroucel-home .glyphicon-chevron-right {
 	right: 168px;
 }

 .carroucel-home .glyphicon-chevron-left {
 	left: 180px;
 }

 .carroucel-home .carousel-control:hover{
 	color:#000;
 	opacity:0.5;
 }

 .bg_branco {
     border-radius: 5px 5px 0px 0px;
     left: 50%;
     margin-left: -80px;
     position: absolute;
		 z-index: 11;
     bottom: -3px;
     width: 171px;
     height: 50px;
     background: #fff;
 }


 .produtos_home h1{
 	overflow: hidden;
 	height: 35px;
 }

 .btn_saiba_mais {
	 border-radius: 5px;
    padding: 8px 16px;
    color: #000;
    border: 1px solid #000;
    background: none;
}

.btn_orcamentos_home {
	border-radius: 5px;
    padding: 5px 16px;
    color: #fff;
    border: 0px;
    background: #d10000;
}

.bg_servicos_home {
  height: 476px;
    background: url(../imgs/bg_servicos_home.png) top center no-repeat;
}

.servicos_home .fa {
    font-size: 17px;
    color: #d10000;
}

.seta_media .fa {
    font-size: 22px;
}

.servicos_home p{
	overflow: hidden;
	height: 26px;
}

.descricao_servicos{
	overflow: hidden;
	height: 103px;
}

.servicos_home01 h1 {
	  font-size: 20px;
    font-family: "Lato Black";
}



.servicos_realizados .flexslider {
    margin: 0 0 0px;
    background: #ffffff;
    border: 0px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.servicos_realizados .flexslider .slides img {
    width: 100%;
    display: block;
    height: 200px;
}

.btn_saiba_mais {
    padding: 8px 16px;
    color: #000;
    border: 1px solid #000;
    background: none;
}

.dicas_home h1{
	overflow: hidden;
	height: 94px;
}

.relativo{
	position: relative;
}


.bg_menu_produtos {
	top: 17px;
    position: absolute;
    width: 100%;
    height: 81px;
    background: url(../imgs/barra_produtos_home.png) bottom center no-repeat;
}


.sub-menu-produtos li:first-child,.sub-menu-produtos_home li:first-child {
    border-left: 1px solid #b4b3b3;
}

.sub-menu-produtos li.active a,
.sub-menu-produtos li a:hover,
.sub-menu-produtos_home li.active a,
.sub-menu-produtos_home li a:hover {
    background: #d10000;
    color: #fff;
}
.sub-menu-produtos li a,
.sub-menu-produtos_home li a {
    float: left;
    height: 57px;
    text-align: center;
    padding: 8px 10px 0px 10px;
    border-right: 1px solid #b4b3b3;
    color: #000;
    font-size: 11px;
}


 /**
 ============================================
 					HOME
 ============================================
 */



 /**
 ============================================
 				 dicas
 ============================================
 */
.dicas_dentro h1{
 font-size: 17px;
 font-family:"Lato Bold";
}

.dicas_dentro p{
 font-size: 17px;
 font-weight: 400;
}

.bg_cinza_topo{
	height: 7px;
	background: #3e3e3e;
}

.contatos_topo .media {
    margin-top: 9px;
}

.titulo_produtos_geral h3{
    line-height: 19px;
    font-family: "Lato Bold";
    font-size: 35px;
    color: #fefefe;
    text-shadow: -1px 2px 0px rgba(0, 0, 0, 1);
}

.titulo_produtos_geral h3 span {
    line-height: 23px;
    font-weight: 400;
		font-family: 'Lato', sans-serif;
    font-size: 21px;
    color: #fefefe;
    text-shadow: -1px 2px 0px rgba(0, 0, 0, 1);
}

.servicos_geral h1 {
    padding-bottom: 9px;
    font-family: "Lato Bold";
    font-size: 25px;
    background: url(../imgs/barra_dicas.png) left bottom no-repeat;
}

.btn_orcamentos {
    padding: 13px 12px;
    background: #d10000;
    font-size: 14px;
    color: #fff;
    font-family: "Lato Bold";
}

.left2{
	margin-left: 2px;
}
 /**
 ============================================
 				 dicas
 ============================================
 */


 /**
 ============================================
 				PRODUTOS
 ============================================
 */

.produtos_geral h1 {
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 25px;
    background: url(../imgs/barra_produtos.png) left bottom no-repeat;
}

.fale_conosco h1 {
    padding-bottom: 9px;
    font-weight: 300;
    font-size: 33px;
    background: url(../imgs/barra_fale.jpg) left bottom no-repeat;
}

.fale_conosco p {
    font-size: 17px;

}

.sub-menu-produtos {
	margin-top: 21px;
	margin-left: 30px;
}

.sub-menu-produtos_home {
	margin-top: 24px;
}

.lista-categorias-submenu li,
.lista-categorias-submenu li a {
    width: 100%;
    height: inherit;
    text-align: inherit;
    margin-bottom: 5px;
}




/**
============================================
				PRODUTOS
============================================
*/

/**
============================================
				serviços
============================================
*/
.servicos_tipos h1 {
    overflow: hidden;
    height: 39px;
    font-family: "Lato Bold";
    font-size: 17px;
    background: url(../imgs/barra_produtos_dentro.png) center bottom no-repeat;
    padding-bottom: 23px;
}

.servicos_tipos p {
    overflow: hidden;
    height: 110px;
    font-size: 15px;
}
.servicos_tipos {
    border: 1px solid #000;
}

.titulo_medio h4{
	font-weight: 400;
    font-size: 15px;
}
.titulo_medio h4 span {
	font-family:"Lato Black";
    font-size: 18px;
}
.trabalho_realizados .flex-next {
    position: absolute;
    bottom: -43px;
    z-index: 100;
    right: 132px;
    font-size: 24px;
    color: #000;
}

.trabalho_realizados .flex-prev {
    position: absolute;
    bottom: -43px;
    z-index: 100;
    left: 132px;
    font-size: 24px;
    color: #000;
}
/**
============================================
				serviços
============================================
*/

/**
============================================
				serviços
============================================
*/
.titulo_fale h4{
	line-height: 28px;
	font-size: 18px;
	color: #000;
	font-weight: 300;
}

.titulo_fale h4 span{
	font-size: 30px;
	font-weight: 400;
}
/**
============================================
				serviços
============================================
*/

/**
============================================
				serviços
============================================
*/
.fundo_formulario input,
.fundo_formulario textarea{
	color: #000;
	border-radius: 0px;
	border: 1px solid #000;
}
/**
============================================
				serviços
============================================
*/


.tabela_carrinho table{
  font-size  : 13px;
  color      : #000;
  font-weight: 400;
}

.tabela_carrinho .table>tbody{
	margin-top: 15px;
  border: 1px solid #000;
}

.table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.tabela_carrinho .table h2{
  font-size: 19px;
}

.tabela_carrinho .table h2 span{
  font-size: 16px;
}

.input-lista-prod-orcamentos {
    width: 32px;
    min-height: 36px !important;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0px;
    font-size: 13px;
}

.fa-times-circle::before {
    color: #ff0000;
}

.produto_titulo h1 {
      font-size: 30px;
      font-family: "Lato Bold";
}

.produto_titulo h1 span{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}


.bg_servicos_home .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}
.bg_servicos_home .flex-control-paging li a {
    width: 20px;
    height: 20px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.trabalho_realizados img{
    height: 130px !important;
}


.trabalho_realizados .flexslider {
    margin: 0 0 40px;
    background: #ffffff;
    border: 0px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.trabalho_realizados .flexslider .slides img {
    width: 100%;
    display: block;
    height: 200px;
}



.sub-menu-dentro{
    margin-top: 16px;
}


.sub-menu-dentro li {
    float: left;
    height: 50px;
    text-align: center;
    padding: 7px 14px 0px 14px;
    border-right: 1px solid #b4b3b3;
}

.sub-menu-dentro li:first-child{
    border-left: 1px solid #b4b3b3;
}

.sub-menu-dentro li:last-child{
    border-right: none;
}

.sub-menu-dentro a{
    font-size: 12px;
    font-family: "Lato Bold";
    color: #000;
}


.loc-quem-somos h5,
.loc-servicos h5,
.loc-clientes h5{
	font-size: 25px;
	font-family: "Lato Bold";
	color: #000;
}

.loc-quem-somos p,
.loc-servicos p,
.loc-clientes p{
	font-size: 17px;
}


#carousel-example-generic-equipe{
    height: 550px;
}


#carousel-example-generic-equipe .carousel-indicators,
.slider-parceiros-clientes .carousel-indicators{
    bottom: -50px;
}

#carousel-example-generic-equipe .carousel-indicators li,
.slider-parceiros-clientes  .carousel-indicators li{
    width: 20px;
    height: 20px;
    background: #7f7f7f;
    border: none;
		margin-right: 3px !important;
}

#carousel-example-generic-equipe .carousel-indicators .active,
.slider-parceiros-clientes .carousel-indicators .active{
    background: #000000;
    margin: 1px;
}




#carousel-example-generic-equipe .carousel-control.left,
#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes  .carousel-control.left,
.slider-parceiros-clientes  .carousel-control.right{
    background: none;
}


#carousel-example-generic-equipe .carousel-control.left,
.slider-parceiros-clientes .carousel-control.left{
    left: 110px;
    top: inherit;
    bottom: -47px;
    width: 25px;
    height: 25px;
    z-index: 100;
}


#carousel-example-generic-equipe .carousel-control.right,
.slider-parceiros-clientes .carousel-control.right{
    right: 110px;
    top: inherit;
    bottom: -61px;
    width: 40px;
    height: 40px;
    z-index: 100;
}


#carousel-example-generic-equipe .fa-chevron-left,
#carousel-example-generic-equipe .fa-chevron-right,
.slider-parceiros-clientes .fa-chevron-left,
.slider-parceiros-clientes .fa-chevron-right{
    font-size: 25px;
    color: #000;
}


.lista-parceiros-linha {
    border-top: 1px solid #000;
    padding-top: 10px;
    margin: 10px auto;
    width: 90%;
}
.lista-parceiros {
    border: 1px solid #000;
}

.lista-parceiros h1{
    overflow: hidden;
		height: 37px;
		font-size: 17px;
		font-family:"Lato Bold";
}

.lista-parceiros img{
	padding: 0px 10px;
}
